@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1;
  font-family: "Akrobat" !important;
  /* background-image: url(../img/respawn/main-bg.png); */
  background-size: cover;
  box-shadow: inset 0 0 678px 586px rgba(29, 27, 40, 0.91);
}

.bold {
  font-weight: 700;
}

.flex-item:nth-child(2n) {
  box-sizing: border-box;
  margin: 0 75px;
  margin-top: 0;
}

#spawn-select {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-image: url(../img/respawn/bg_respawn.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#spawn-select * {
  font-style: normal;
}

#spawn-select .logo {
  position: absolute;
  top: 38px;
  left: 48px;
}

#spawn-select .title {
  font-weight: 800;
  font-size: 31px;
  line-height: 37px;
  margin: 7vh 0;
  color: #ffffff;
}

#spawn-select .spawn_wrapper {
  display: flex;
}

.select-block {
  color: #ffffff;
  width: 370px;
  height: 614px;
  background: rgba(0, 0, 0, 0.43);
  position: relative;
  z-index: 2;
}

.last {
  background-image: url(../img/respawn/img2.png);
  background-position: center center;
}

.home {
  background-image: url(../img/respawn/img1.png);
  background-position: center center;
}

.org {
  background-image: url(../img/respawn/img3.png);
  background-position: center center;
}

.title-block {
  color: #ffffff;
  padding: 19px;
  position: absolute;
  top: 0%;
  left: 0%;
  font-weight: 800;
  font-size: 31px;
  line-height: 37px;
}

.title-block .title-text > span {
  display: block;
  text-transform: uppercase;
}

.button-block {
  margin-top: 18px;
  text-align: center;
}

.button-block * {
  font-family: "Akrobat";
}

.button-block button {
  color: #ffffff;
  border: 0;
  padding: 19px 0;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 1px;
}

.button-block button:hover {
  color: #fff;
  background: rgba(149, 150, 153, 0.6);
  -webkit-box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
  -moz-box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
  box-shadow: 0px 0px 17px 7px rgba(160, 153, 147, 0.5);
}

.button-block button[disabled]:active,
.button-block button[disabled]:hover,
.button-block button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
}

.disabled {
  filter: grayscale(100%);
}

#footer {
  opacity: 0.5;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #fff;
  width: 100%;
}

.desc-text {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.4);
}

.spawn_block_wrapper {
  transition: 0.5s all;
}

.spawn_block_wrapper:hover .button-block button {
  background: #ffb800;
  box-shadow: 0px 0px 27px rgba(255, 184, 0, 0.37);
  border-radius: 1px;
  transition: 0.5s all;
}

.spawn_block_wrapper:hover .select-block {
  background: rgba(255, 184, 0, 0.33);
  border: 3px solid #ffdf8c;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: 0.5s all;
}

.spawn_block_wrapper:hover .select-block.last {
  background-image: url(../img/respawn/img2.png);
}

.spawn_block_wrapper:hover .select-block.home {
  background-image: url(../img/respawn/img1.png);
}

.spawn_block_wrapper:hover .select-block.org {
  background-image: url(../img/respawn/img3.png);
}

.spawn_block_wrapper .title-block,
.spawn_block_wrapper .bold {
  text-align: left;
}

.spawn_block_wrapper .select-block {
  border: 3px solid #474747;
  background-position: bottom;
  background-repeat: no-repeat;
}

.spawn_block_wrapper.home_wrapper {
  transform: matrix(1, -0.08, 0, 1, 0, 0);
  margin-top: 15px;
}

.spawn_block_wrapper.last_wrapper {
  margin: 0 29px;
}

.spawn_block_wrapper.org_wrapper {
  transform: matrix(1, 0.08, 0, 1, 0, 0);
  margin-top: 15px;
}

@media (max-width: 2500px) {
  .spawn_wrapper,
.logo {
    zoom: 1.5;
  }
}

/* @media (min-width: 2000px) {
	.gta-acount {
		zoom: 1.2;
	}
}


*/
@media (max-width: 1950px) {
  .spawn_wrapper,
.logo {
    zoom: 1;
  }
}

@media (max-width: 1800px) {
  .spawn_wrapper,
.logo {
    zoom: 1;
  }
}

@media (max-width: 1600px) {
  .spawn_wrapper,
.logo {
    zoom: .95;
  }
}

@media (max-width: 1400px) {
  .spawn_wrapper,
.logo {
    zoom: .9;
  }
}

@media (max-width: 1300px) {
  .spawn_wrapper,
.logo {
    zoom: .8;
  }
}

@media (max-width: 1140px) {
  .spawn_wrapper,
.logo {
    zoom: .8;
  }
}

@media (max-width: 1025px) {
  .spawn_wrapper,
.logo {
    zoom: .75;
  }
}

@media (max-width: 900px) {
  .spawn_wrapper,
.logo {
    zoom: .6;
  }
}
