body {
    font-style: normal;
    user-select: none;
}

.noty_theme__fivestar.noty_bar {
    
background: #202020;
border-radius: 2px;
}

.noty_theme__fivestar.noty_bar .noty_body {
    /* padding: 1.25em;
    font-size: 12pt; */
}

.noty_theme__fivestar.noty_bar .noty_buttons {
    /* padding: 0 10px 0.5em 10px; */
}

.noty_theme__fivestar.noty_type__alert,
.noty_theme__fivestar.noty_type__notification {
    transform: skewX(-15deg) !important;
}

.noty_theme__fivestar.noty_type__alert .text i,
.noty_theme__fivestar.noty_type__notification .text i {
    display: flex;
    align-content: center;
    align-items: center;
}

.noty_theme__fivestar.noty_type__warning {
    margin-bottom: 15px;

}

.noty_theme__fivestar.noty_type__warning .text i {
    display: flex;
    align-content: center;
    align-items: center;
}

.noty_theme__fivestar.noty_type__error {
    margin-bottom: 15px;
}

.noty_theme__fivestar.noty_type__error .text i {
    display: flex;
    align-content: center;
    align-items: center;
}

.noty_theme__fivestar.noty_type__info,
.noty_theme__fivestar.noty_type__information {
    margin-bottom: 15px;
}

.noty_theme__fivestar.noty_type__info .text i,
.noty_theme__fivestar.noty_type__information .text i {
    display: flex;
    align-content: center;
    align-items: center;
}

.noty_theme__fivestar.noty_type__success {
    margin-bottom: 15px;
}

.noty_theme__fivestar.noty_type__success .text i {
    display: flex;
    align-content: center;
    align-items: center;
}

.noty_theme__fivestar .text {
    padding: 19px 15px;
    margin-left: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.noty_theme__fivestar img {
    position: absolute;
    display: block;
    margin-right: 15px;
    top: 50%;
    left: -46px;
    transform: translateY(-50%);
}

.noty_theme__fivestar i {
    display: contents;
}

.noty_theme__fivestar .text i {

    display: block;
    margin-left: auto;
    margin-right: 0;
}

.noty_theme__fivestar .text {
    margin-left: 55px;
    transform: skewX(15deg);
}

#noty_layout__bottomCenter,
#noty_layout__topCenter {
    width: 486px;
}

#noty_layout__topLeft,
#noty_layout__topRight,
#noty_layout__bottomLeft,
#noty_layout__bottomRight,
#noty_layout__centerLeft,
#noty_layout__centerRight,
#noty_layout__center {
    width: 486px;
}


.noty_bar {
    -ms-transform: translate(0, 0) scale(1, 1);
    transform: translate(0, 0) scale(1, 1);
}

.noty_effects_open {
    opacity: 0;
    -ms-transform: translate(50%);
    transform: translate(50%);
    animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-fill-mode: forwards;
}

.noty_effects_close {
    animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-fill-mode: forwards;
}

.noty_modal.noty_modal_open {
    opacity: 0;
    animation: noty_modal_in .3s ease-out;
}

.noty_modal.noty_modal_close {
    animation: noty_modal_out .3s ease-out;
    animation-fill-mode: forwards;
}

@keyframes noty_modal_in {
    100% {
        opacity: .3;
    }
}

@keyframes noty_modal_out {
    100% {
        opacity: 0;
    }
}

@keyframes noty_modal_out {
    100% {
        opacity: 0;
    }
}

@keyframes noty_anim_in {
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes noty_anim_out {
    100% {
        transform: translate(50%);
        opacity: 0;
    }
}

@keyframes noty_anim_height {
    100% {
        height: 0;
    }
}